body { 
	text-align: center; 
	font-family: 'Mada', sans-serif;
	color: #EFE9E0;

	background-color: #EFE9E0;
	background-attachment: fixed;
	background-size: cover;
}


/* polices d'écritures */
h1 { 
	color: #EFE9E0; 
	font-family: 'Oleo Script', cursive;
	font-size: 60px;
}

h2 {
	color: #EFE9E0;
	font-family: 'Mada', sans-serif;
}

h3 {
	color: #15083D;
	font-family: 'Oleo Script', cursive;
}

h4 {
	color: #15083D;
	font-family: 'Oleo Script', cursive;
}


h5 {
	color: #FDBD0A;
	font-family: 'Oleo Script', cursive;
}

ul {
	color: #EFE9E0;
	font-family: 'Oleo Script', cursive;
}

.titre_blanc {
	color: #EFE9E0;
	font-family: 'Oleo Script', cursive;
}

.texte_bleu {
	color: #15083D;
	font-family: 'Mada', sans-serif;
}


/* Barre de navigation */
.my-navbar {
	object-fit: cover;
	background-color: #15083D;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.links {
	margin-right: 40px;
}

.link {
	text-decoration: none;
	color: white;
}


/* Page d'accueil */
.slide1 {
	background-image: url("images/ciel_etoile.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


/* Vidéo youtube et page qui renvoie vers un autre lien */
.slide2 {
	padding: 50px;
	margin: 50px;
	display: flex;
	justify-content: space-between;
}


/* Galerie d'images */
.slide3 {
	background-color: #F9F5E9;
	padding: 150px;
	margin-bottom: 50px;
}

.galery {
	display: flex;
	justify-content: space-between;
}


/* Les 2 div avec du texte */
.slide4 {
	background-color: #1C0D4D;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.frame {
	border: solid 3px #EFE9E0;
	display: flex;
	align-content: center;
}

.liste_signes {
	background-color: #3C2A76;
	margin: 10px;
	font-size: large;
	width: 250px;
	text-align: center;
	text-justify: flex-end;
}

.frame2 {
	background: #EFE9E0;
	border-radius: 50px;
	box-shadow: 10px 10px 10px grey;
	width: 500px;
}

.texte_signes {
	margin: 50px;
	display: flex;
	flex-direction: column; 
	align-items: flex-start;
}


/* La carte avec la modale */
.slide5 {
	padding: 50px;
	margin: 50px;
	display: flex;

}

.texte_et_bouton {
	margin: 50px;
	display:flex;
	flex-direction: column;
}

.map {
	display: flex;
	justify-content: space-around;
}


/* Le footer */
.footer {
	background-color: #1C0D4D;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.informations {
	margin-top: 25px;
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo_reseaux {
	display: flex;
	justify-content: self-around;
}

.footer_bottom {
	background-color: #15083D;
	display: flex;
	justify-content: space-around;
}