body { 
	text-align: center; 
	font-family: 'Mada', sans-serif;
	color: #EFE9E0;

	background-color: #EFE9E0;
	background-attachment: fixed;
	background-size: cover;
}

h1 { 
	color: #EFE9E0; 
	font-family: 'Oleo Script', cursive;
}

h2 {
	color: #EFE9E0;
	font-family: 'Mada', sans-serif;
}

h3 {
	color: #15083D;
	font-family: 'Oleo Script', cursive;
}

h4 {
	color: #15083D;
	font-family: 'Oleo Script', cursive;
}

.titre_blanc {
	color: #EFE9E0;
	font-family: 'Oleo Script', cursive;
}

h5 {
	color: #FDBD0A;
	font-family: 'Oleo Script', cursive;
}
ul {
	color: #EFE9E0;
	font-family: 'Oleo Script', cursive;
}

.texte_bleu {
	color: #15083D;
	font-family: 'Mada', sans-serif;
}


.my-navbar {
	object-fit: cover;
	background-color: #15083D;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.links {
	margin-right: 40px;
}

.slide1 {
	background-image: url("images/ciel_etoile.jpg");
	width: 1440px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.slide2 {
	padding: 50px;
	margin: 50px;
	display: flex;
	justify-content: space-between;
}

.slide3 {
	background-color: #F9F5E9;
	padding: 150px;
	margin-bottom: 50px;
}

.galery {
	display: flex;
	justify-content: space-between;
}

.slide4 {
	background-color: #1C0D4D;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.frame {
	border: solid 3px #EFE9E0;
	display: flex;
	align-content: center;
}

.liste_signes {
	background-color: #3C2A76;
	padding: 20px;
	margin: 10px;
	font-size: large;
	width: 250px;
}

.frame2 {
	background: #EFE9E0;
	border-radius: 50px;
	box-shadow: 10px 10px 10px grey;
	width: 500px;
}

.slide5 {
	padding: 50px;
	margin: 50px;
	display: flex;

}

.texte_et_bouton {
	margin: 50px;
	display:flex;
	flex-direction: column;
}

.map {
	display: flex;
	justify-content: space-around;
}

.footer {
	background-color: #1C0D4D;
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}

.informations {
	width: 1000px;
	display: flex;
	justify-content: space-around;
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo_reseaux {
	display: flex;
	justify-content: self-around;
}

.footer_bottom {
	background-color: #15083D;
	display: flex;
	justify-content: space-around;
}

